<div class="alphavisId">
  <app-tamplate></app-tamplate>
  <div display="main">
    <app-nav  style="height: 95vh; background-color: #3db5e7;"></app-nav>
    <div class="content-main">
      <h2 style="color:#686767; margin-top: -3%;">AlphaVis / Acompanhar ações individuais</h2>
        <div class="view mat-elevation-z4" style="margin-top:0.5%;">
          <div class="checkbox mat-elevation-z3">
            <h3 style="padding: 8px; border-bottom: 1px solid #a7a7a7; text-align: center;">Filtro por ação</h3>
                 <ng-container class="filters"  *ngFor="let trd of filter">
                    <div class="checkbox-container">
                      <input type="checkbox" [name]="trd.label" [checked]="trd.selected" (change)="changeByFilter($event)">
                      <label style="font-size: 1.2rem;">{{ trd.label }}</label>
                    </div>
                 </ng-container>
          </div>
          <div style="display: flex; flex-direction: column; height: 100%; width: 60%; padding: 1%;">
            <div class="video mat-elevation-z4" style="width: 100%; height: 87%; margin-bottom: 1%;" #imgView>
              <img  [src]="imagemUrl" alt="imagem.jpg">
              <div id="chart-container" ></div>
            </div>

            <div class="slider-container">
              <button class="play-button" (click)="togglePlay()">
                  <i class="material-icons v-middle">{{ isPlaying ? 'pause' : 'play_arrow' }}</i>
              </button>
              <input type="range" class="slider" [(ngModel)]="sliderValue" [min]="minValue" [max]="maxValue"
                  [step]="stepValue" (input)="atualizarImagem()" />
           </div>
          </div>
          <div class="person-data">
            <div style="height: 40%; overflow: auto;" class="actions mat-elevation-z3">
              <h3 style="margin: 0; padding-top: 1%; border-bottom: 1px solid #a7a7a7; text-align: center;">Ações no tempo</h3>
              <section style="display: inline-flex; gap: 30px">
                  <p style="margin-left: 20px;">Frame: {{sliderValue}}</p>
                  <p>id {{idP}}</p>
              </section>
              <div class="plotInf" style="margin-left: 5%; display: flex; flex-wrap: wrap; flex-direction: row;">
                <img style="margin-right: 1%; width: 8%; height: 3%;" *ngFor="let paragrafo of paragrafos" [src]="'../../../assets/img/img' + paragrafo + '.png'" alt="acoes">
              </div>
          </div>
            <div style="height: 60%; margin-top: 1%;  overflow:hidden;" class="mat-elevation-z3" #barCharts>
              <canvasjs-chart [options]="chartInfo" style="height: 100%; width: 100%;"></canvasjs-chart>

            </div>
          </div>
        </div>
        <div class="lineCharts">
          <div class="heatMap"  [style.background-color]="heatmapBackgroundColor" style="height: 100%; margin-top: 1%; border: 1px solid #c1bcbc; display: flex; flex-direction: column;">
          <div style="display: inline-flex; flex-direction: row; height:10%;">
            <a class="sunny_heat">
              <i class="material-icons" style="font-size: 2rem; ">
                sunny
              </i>
            </a>
            <h3 style="text-align: center; height: 100%; margin:0">Regiões com maior detecção de emoções</h3>
          </div>

            <div style="height: 90%; width: 100%;">
              <div #heatmap id="heatmap" class="heatmap-container" ></div>
            </div>

          </div>
           <div class="chartLine mat-elevation-z4" style="margin-left: 1%; height: 100%; border: 1px solid #c1bcbc;" #chartLine>
            <canvasjs-chart  [options]="chartOptions"></canvasjs-chart>
           </div>
        </div>
    </div>
  </div>
</div>
