

<app-tamplate></app-tamplate>
<div class="show-case">
  <app-nav></app-nav>
  <div class="main-portion">
    <div class="top-portion">
        <!-- <h2 class="title-top">
          Interface de Debug AlphaVis
        </h2> -->

      <!-- <div class="separator"></div> -->
    </div>
    <div class="cases">
      <div class="midia-vis">
        <a routerLink="/visData" style="text-decoration:none;">
          <div class="container-data">
            <img class="data-case" src= "../../../assets/img/analise-dados.jpeg">
          </div>

          <p class="texto">
            <i class="material-icons v-middle">
              timeline
            </i>
            Resumo de Dados
          </p>
        </a>
      </div>
      <div class="midia-vis">
        <a routerLink="/alphavis" style="text-decoration:none;">
          <div class="container-data-gif ">
            <img class="gif" src= "../../../assets/img/gitHome.gif">
          </div>
          <p class="texto">
            <i class="material-icons v-middle">
              art_track
            </i>
            Alphavis
          </p>
        </a>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
