

<app-tamplate></app-tamplate>
<div class="show-case">
  <app-nav></app-nav>
  <div class="main-portion">
    <div class="top-portion">
      <div>
        <h5>
          Cenários de
          Visualizações
        </h5>
      </div>
      <div class="separator"></div>
    </div>
    <div class="cases">
      <div class="midia-vis mat-elevation-z2">
        <a style="text-decoration:none;">
          <div class="container-data">
            <img class="data-case" src= "../../../assets/img/analise-dados.jpeg">
            <p class="texto">
              <i class="material-icons v-middle">
                timeline
              </i>
              Análise de Dados
            </p>
          </div>
        </a>
      </div>
      <div class="midia-vis mat-elevation-z2" >
        <a routerLink="/alphavis" style="text-decoration:none;">
          <div class="container-data">
            <img src="https://user-images.githubusercontent.com/22748802/94115605-8ccf0a00-fe7c-11ea-8855-ab84232612a0.gif" class="midia-case">
            <p class="texto">
              <i class="material-icons v-middle">
                art_track
              </i>
              AlphaVis
            </p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
