

<app-tamplate [idVis]="vis"></app-tamplate>
<div class="show-case">
  <app-nav></app-nav>
  <div class="main-portion">
    <div class="top-portion">
        <h2 class="title-top">
          EmotionVIS
        </h2>

      <!-- <div class="separator"></div> -->
    </div>
    <div class="cases">
      <div class="midia-vis mat-elevation-z2">
        <a routerLink="/visData" style="text-decoration:none;">
          <div class="container-data">
            <img class="data-case" src= "../../../assets/img/analise-dados.jpeg">
            <p class="texto">
              <i class="material-icons v-middle">
                timeline
              </i>
              Análise de Dados
            </p>
          </div>
        </a>
      </div>
      <div class="midia-vis mat-elevation-z2" >
        <a routerLink="/alphavis" style="text-decoration:none;">
          <div class="container-data">
            <img src="../../../assets/img/gitHome.gif" class="midia-case">
            <p class="texto">
              <i class="material-icons v-middle">
                art_track
              </i>
              AlphaVis
            </p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
