
.canvas-alphavis, .date{
  display: flex;
  flex-direction: row;
  width: 77%;
  height: 47%;
  border-radius: 1rem;
  align-items: center;
  border: 0.2rem solid #a7a7a7;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  padding-left: 2%;
  margin-bottom: 0.5%;
}

.canvas-alphavis, .date{ justify-content:space-evenly;}

.filters{
  margin-top: 2%;
  width: 100%;
  height: 80%;
  margin-top: 10%;
  display: flex;
  flex-direction: row;

}

.title-top{
  padding-top: 1%;
  font-size: 200%;
  width: 80%;
  margin: -1% 0% 2% 0%;
  align-items: center;
  text-align: center;
}

.checkbox-container {
  height: 10%;
  width: 100%;
  display: inline-flex;
  align-items: center;
}

label{
  width: 50%;
  font-size: 14px;
}

.checkbox-container input{
  height: 60%;
  width: 30%;
  border: 1px solid rgb(190, 186, 186);
  border-radius: 2px;
  margin:0;
  cursor: pointer;
}

.checkbox input
.sentado img{
  background-color: #3498db;
}

h3{
  align-items: center;
  text-align: center;
}

#dataPlot{
  margin-left: 3%;
  height: 90%;

}

.midia{
  margin-top: 1%;
  margin-right: 5%;
  height: 90%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.span-title{
  height: 3%;
  display: flex;
  flex-direction:row;
  width: 90%;
  margin-bottom: 1%;

}
.dataPlot{
  height: 90%;
  width: 20%;
  border-radius: 1.5rem;
}

.board-view{
  width: 90%;
  height: 84%;
  position: relative;
  margin: auto;
}
.board-view img {
  max-width: 100%;
  height: 100%;
}

.board-view #chart-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  opacity: 0.9;
}

.plotLine-content{
  display: flex;
  justify-content: center;
  border-radius: 1.5rem;
  height: 90%;
  width: 70%;
  flex-direction: column;
}
.tooltip {
  position: absolute;
  background-color: #b51f1f;
  border: 1px solid #ccc;
  padding: 8px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.slider-container {
  height: 3%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}


.date{
  height: 38%;
  justify-content:space-evenly;
}

#opacity{
width: 50px;
height: 20px;
margin: 0;
transform-origin: 75px 75px;
}

.developed{
  height: 3%;
  width: 95%;
  font-size: 1.1rem;
  text-align: end;
  margin-top: 3%;
}

.instruction-click{
   min-width: 60%;
   display: flex;
   flex-direction: row;
   justify-content: left;
}

.instruction-button{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.heatmapImg{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  opacity: 0.7;
}

#chart-container{
  cursor: zoom-in;
}

.touch_app{
  font-size: 1.7rem; color: black; margin-bottom: 1%;
}
