<div class="alphavis">
  <app-tamplate></app-tamplate>
  <div class="main">
    <app-nav class="nave blue-color-background"></app-nav>
    <div class="content">
      <h2 class="title-top">
        Alphavis
      </h2>
      <div class="canvas-alphavis gray-color-background">
        <div class="checkbox mat-elevation-z6 gray-color-background defaultColor">
          <h3 style="padding: 10px; border-bottom: 1px solid#a7a7a7;">Filtrar dados por ação</h3>
          <ng-container class="filters" *ngFor="let trd of filter">
            <div class="checkbox-container">
              <input type="checkbox" [name]="trd.label" [checked]="trd.selected" [disabled]="trd.disable"
                (change)="changeByFilter($event)">
              <label style="font-size: 1.2rem; ">{{ trd.label }}</label>
            </div>
          </ng-container>
        </div>
        <div class="midia">
          <div class="span-title defaultColor">

            <div class="instruction-click">
              <a matTooltip="Os pontos são clicáveis" matTooltipClass="example-tooltip-uppercase"
                style="cursor: default;">
                <i class="touch_app material-icons">touch_app</i>
              </a>
              <a matTooltip="Os pontos são clicáveis" matTooltipClass="example-tooltip-uppercase"
                style="cursor: default;">
                <p>Clique nas predições para uma visualização individual</p>
              </a>
            </div>

            <div class="instruction-button">
              <i class="material-icons v-middle" style="color: green; font-size: 13px;">
                radio_button_checked
              </i>
              <p style="margin-right: 5%;">Correto</p>
              <i class="material-icons v-middle" style="color:red; font-size: 13px;">
                radio_button_checked
              </i>
              <p style="margin-right: 5%; display: flex; flex-direction: row;">Errado</p>
              <i class="material-icons v-middle" style="color: gray; font-size: 13px;">
                radio_button_checked
              </i>
              <p>Não identificado</p>
            </div>
          </div>
          <div class="board-view">
            <img class="img" [src]="imagemUrl" alt="imagem.jpg" #imgView>
            <!-- <div #heatmap id="heatmap" class="heatmapImg"></div> -->
            <div id="chart-container"></div>
          </div>
          <div class="slider-container">
            <button class="play-button" (click)="togglePlay()">
              <i class="material-icons v-middle">{{ isPlaying ? 'pause' : 'play_arrow' }}</i>
            </button>
            <input type="range" class="slider" [(ngModel)]="sliderValue" [min]="minValue" [max]="maxValue"
              [step]="stepValue" (change)="atualizarImagem()" />
            <!-- <a style="padding: 2% 0% 2% 2%; cursor: pointer;" (click)="zoomin()">
              <i class="material-icons v-middle">
                zoom_in
              </i>
            </a>
            <a style="padding: 2% 0% 2% 2%;  cursor: pointer;" (click)="zoomout()">
              <i class="material-icons v-middle">
                zoom_out
              </i>
            </a> -->
          </div>
        </div>
      </div>
      <div class="date gray-color-background defaultColor">
        <div class="dataPlot  mat-elevation-z6 gray-color-background" #dataPlot>
          <h3 style="padding: 10px; border-bottom: 1px solid #a7a7a7;">Total de ações detectadas</h3>
          <div id="dataPlot"></div>
        </div>
        <div  class="plotLine-content mat-elevation-z6 gray-color-background" #chartLine>
          <div style="display: inline-flex; justify-content: center;">
            <h3 style="color:red; font-weight: bold; margin-right: 0.5%;">Erros</h3>
            <h3> de detecção de ação por Frames</h3>
          </div>
          <svg id="plotLine" style="width:100%; height: 95%"></svg>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
