
  <app-tamplate></app-tamplate>
  <div>
    <div class="main">
        <app-nav></app-nav>
        <div class="container-chart-main mat-elevation-z3">
          <div class="text-alert-container">
            <h2><em>Visualização de Dados Sumarizados</em></h2>
            <p>Ambiente dedicado para a sumarização de dados referentes à tecnologia {{tecnologia}}</p>
          </div>
          <div class="charts-data chart-contorn mat-elevation-z3">
              <div class="img-plotBar chart-contorn mat-elevation-z3">
                <img [src]="imagemUrl" alt="imagem.jpg">
                <div id="container-bar"></div>
              </div>
              <div class="pie-inf chart-contorn mat-elevation-z3">
               <div id="container-pie" class="chart-contorn mat-elevation-z3"></div>
               <div class="list-frame chart-contorn mat-elevation-z3">
                <h2>Frames com maiores numeros de erros</h2>
                <div style="height: 5%; width: 100%; justify-content:space-around; display: flex; flex-direction: raw; margin-bottom: 4%; border-bottom: 1px solid gray;">
                  <h3 style="color: black; opacity: 0.8;"><em>Quantidade de erros</em></h3>
                  <h3 style="color: black"><em>Frames</em></h3>
                </div>
                <ng-container *ngFor="let trd of filter">
                  <div class="action-frime" style="justify-content: space-around;">
                    <p>{{trd.name}}</p>
                    <a (click)="changeImg(trd.frame)"><p>{{trd.frame}}</p></a>
                  </div>
               </ng-container>
               </div>
              </div>
          </div>
        </div>
    </div>
  </div>
  <app-footer></app-footer>


