.footer{
   /*display: flex;*/
   position: fixed;
   /*justify-content: flex-start;*/
   height: 3vh;
   background-color: #0c131f;
   color: white;
   bottom: 0;
   width: 100%;
}

.footer span{
  font-weight: 300;
  font-size: 1rem;
  right: 0px;

}

.mat-toolbar.mat-toolbar-single-row{
  height: 3vh;
  background-color: #0c131f;
}


