.footer{
   position: fixed;
   height: 3vh;
   color: white;
   bottom: 0;
   width: 100%;
}

.footer span{
  font-weight: 300;
  font-size: 1rem;
  right: 0px;
  color: black;

}

.mat-toolbar.mat-toolbar-single-row{
  height: 3vh;
}

.developed{
  height: 3vh;
  width: 95%;
  font-size: 1.1rem;
  text-align: end;
  /* margin-top: 3%; */
}



