
<mat-sidenav-container #containerNav class="container-nav" *ngIf="displayNav" >
  <mat-sidenav  class="sidenav" mode="side" opened fixedTopGap="64">
    <mat-nav-list class="list-mat">
      <a routerLink="/" mat-list-item>
        <p style="color:white; font-size: 13px;" >Inicio</p>
      </a>
      <a routerLink="/alphavis" mat-list-item style="color:white" >
        <p style="color:white; font-size: 13px;">Alphavis</p>
      </a>
      <a routerLink="/visData" mat-list-item style="color:white" >
        <p style="color:white; font-size: 13px;">Resumo</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container >


